html body{
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Nunito, sans-serif;
}

.background{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

h1{
    font-size: 2.5rem;
    font-weight: lighter;
    font-family: 'Nunito', sans-serif;
}

.wrapper{
    background-image: url("../img/blured.png");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: auto;
    box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(0, 0%, 100%, .3);
    border-radius: 20px;
    width: 75%;
    height: 50rem;
    padding: 3rem
}

.reg-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    horiz-align: center;
    z-index: 999;
    position: relative;
    justify-content: space-evenly;
    height: 100%;
}

.reg-content .timer{
    font-weight: lighter;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
}

.reg-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    horiz-align: center;
    justify-content: space-evenly;
}

.reg-form input{
    border: 1px solid #00457D;
    box-sizing: border-box;
    border-radius: 0;
    width: 25rem;
    height: 3rem;
    background-color: transparent;
}

.reg-form input:focus{
    background-color: transparent;
}
.reg-form input:focus-visible{
    background-color: transparent;
}
.reg-form label{
    font-size: 14px;

}
